.left-section{
    width: 32%;
    margin-right: 60px;
    margin-top: 50px;
}
.left-section-title{
    color: #222;
    font-family: 'Volkhov', serif;
    font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 54px;
}
.left-section-span{
    color:#FA7436;
    font-family: 'Volkhov', serif;
    font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 54px;

}
.left-section-paragraf{
    color:#666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}